$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --base-black: #333333;
  --base-primary: #7859cf;
  --button-hover-focus: #9070ec;
  --button-active: #593cac;
  --base-primary-active: #f0ebff;
  --base-white: #ffffff;
  --smoky-white: #f8f8f8;
  --base-gray: #bdbdbd;
  --light-gray: #e2e2e2;
  --secondary-gray: #f0ebff;
  --decaf-flute-white: #f3ebe1;
  --lavender-latte: #f1e8ff;

  --swiper-navigation-top-offset: 22px;
  --swiper-navigation-sides-offset: 0;

  --height-slider-mobile: 585px;
  --padding-slider-top: 19px;
  --padding-slider-bottom: 50px;
  --balance-height-top: -19px;
  --balance-height-bottom: -20px;
}
