{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "selector-class-pattern": [
      "^(noUi-connect|noUi-handle|noUi-target|[a-z0-9-_]+)$",
      {
        "resolveNestedSelectors": true
      }
    ]
  }
}
