.catalog {
  background-color: var(--smoky-white, #f8f8f8);
  padding-block-start: 57px;

  @media (min-width: $desktop-width) {
    padding-block: 83px 29px;
  }
}

.catalog__container {
  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    display: grid;
    column-gap: 29px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
  }
}

.catalog__title {
  margin-block: 0;
  padding-block-end: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--base-primary, #7859cf);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-block: 22px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    padding-block-start: 17px;
  }
}

.catalog__text {
  margin-block: 0;
  padding-block-end: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 76px;
    padding-block-end: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2;
    justify-self: left;
    padding-inline-start: 12px;
  }
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-block-start: 14px;

  @media (min-width: $tablet-width) {
    padding-block: 25px 29px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-block-end: 18px;
    grid-template-columns: repeat(3, auto);
    grid-row: 4;
    grid-column: 2;
  }
}

.catalog__list-item {
  @media (min-width: $desktop-width) {
    transition: transform 0.3s, box-shadow 0.3s;
  }
}

.catalog__list-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
