.footer__map {
  text-align: center;
}

.footer__container {
  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1380px;
    padding-block-end: 30px;
  }
}

.footer__developer {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  padding-block: 20px 30px;
  padding-inline-end: 15px;
  color: var(--base-gray, #bdbdbd);

  &:hover {
    color: var(--base-primary, #7859cf);

    &::after {
      background-color: var(--base-primary, #7859cf);
    }
  }

  &:focus-visible {
    color: var(--base-primary, #7859cf);
  }

  &:active {
    color: var(--button-active, #593cac);

    &::after {
      background-color: var(--button-active, #593cac);
    }
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 16px;
    mask-image: url("../../icons/logo-dev-icon.svg");
    mask-repeat: no-repeat;
    background-color: var(--base-gray, #bdbdbd);
    position: absolute;
    right: 37px;
    bottom: 30px;

    @media (min-width: $tablet-width) {
      right: 261px;
    }

    @media (min-width: $desktop-width) {
      right: 586px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: 4;
    grid-column: 1/4;
    padding-block: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
  }
}
