.footer-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
  }
}

.footer-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 8px 37px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100vh;
    height: 1px;
    background-color: var(--secondary-gray, #f0ebff);
    box-shadow: 100vh 0 var(--secondary-gray, #f0ebff);
    position: absolute;
    right: 0;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer-nav__title {
  @include footer-title-style;
  letter-spacing: 0.03em;
  padding-block: 10px 10px;

  @media (min-width: $tablet-width) {
    grid-row: 2;
  }
}

.footer-nav__link {
  @include footer-link-style;
  letter-spacing: 0.02em;
}


.footer__contacts {
  padding-block-end: 20px;

  @media (min-width: $tablet-width) {
    padding-inline-start: 72px;
  }
}

.footer__contacts-address {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  margin: 0;
  padding-inline: 20px;
  padding-block: 11px 16px;

  &::before {
    position: absolute;
    left: -3px;
    content: "";
    display: block;
    width: 28px;
    height: 16px;
    background-image: url("../../icons/address-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px 16px;
  }
}

.footer__contacts-phone {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  margin: 0;
  padding-inline: 20px;
  padding-block-start: 11px;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 16px;
    background-image: url("../../icons/phone-icon.svg");
    background-repeat: no-repeat;
  }
}

.footer-nav__title:first-of-type {
  @media (min-width: $tablet-width) {
    padding-inline-end: 105px;
  }
}

.footer-nav__title:last-of-type {
  @media (min-width: $tablet-width) {
    padding-inline-start: 73px;
  }
}
