.pagination {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-block: 40px 43px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    padding-block:43px 89px;
    gap: 20px;
  }
}

.pagination__link {
  display: block;
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 8px;
  background-color: var(--base-white, #ffffff);
  color: var(--base-primary, #7859cf);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  &:hover {
    background-color: var(--base-primary, #7859cf);
    color: var(--base-white, #ffffff);

    &::before {
      background-color: var(--base-white, #ffffff);
    }
  }

  &:focus-visible {
    background-color: var(--button-hover-focus, #9070ec);
    color: var(--base-white, #ffffff);
  }

  &:active {
    background-color: var(--button-active, #593cac);
  }

  &:disabled {
    background-color: var(--light-gra, #e2e2e2);
    color: var(--base-white, #ffffff);
    pointer-events: none;
    cursor: default;
  }
}

.pagination__link--current {
  background-color: transparent;
  color: var(--base-black, #333333);
  font-weight: 600;
}

.pagination__item:first-child {
  .pagination__link {
    position: relative;
    padding-inline: 20px;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      mask-image: url("../../icons/arrow-slider-left.svg");
      background-color: var(--base-primary, #7859cf);
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 15px;
      left: 15px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &:hover {
      &::before {
        background-color: var(--base-white, #ffffff);
      }
    }
  }
}

.pagination__item:last-child {
  .pagination__link {
    position: relative;
    padding-inline: 20px;
    gap: 20px;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      mask-image: url("../../icons/arrow-slider-right.svg");
      background-color: var(--base-primary, #7859cf);
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 15px;
      left: 15px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &:hover {
      &::before {
        background-color: var(--base-white, #ffffff);
      }
    }
  }
}

.pagination__link span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
