.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px 51px;
  margin: auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: grid;
    width: auto;
    background: linear-gradient(to bottom, var(--slider-background, #f3ebe1) 641px, #ffffff 30%);
    padding-block-end: 0;
  }

  @media (min-width: $desktop-width) {
    padding-block: 0;
    background: var(--slider-background, #f3ebe1);
  }
}

.slider__wrapper {
  position: relative;
  width: 100%;
  min-height: 585px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  @media (min-width: $tablet-width) {
    min-height: 828px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
  }
}

.slider__controls {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    column-gap: 8px;
    top: 641px;
    left: 579px;
  }
}

.slider__controls-button-radio {
  border: none;
  width: 62px;
  height: 4px;
  background-color: var(--base-white, #ffffff);
  transition: background-color 0.3s ease;

  &[aria-current="true"] {
    background-color: var(--base-primary, #7859cf);
  }
}

.slider__prev,
.slider__next {
  position: absolute;
  border: none;
  width: 20px;
  min-height: calc(var(--height-slider-mobile, 585px) + var(--padding-slider-top, 19px) + var(--padding-slider-bottom, 50px));
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position-y: 317px;
  margin-block: var(--balance-height-top, 19px)  var(--balance-height-bottom, 50px);

  @media (min-width: $tablet-width) {
    width: 80px;
    min-height: calc(var(--height-slider-mobile, 585px) + 54px);
    background-position-x: center;
    background-position-y: 292px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    min-height: calc(var(--height-slider-mobile, 585px) + (var(--padding-slider-top) + 57px) + var(--padding-slider-bottom, 50px));
    margin-block: 1px;
    background-position-x: center;
    background-position-y: 292px;
    z-index: 1;
  }
}

.slider__prev {
  background-image: url("../../icons/arrow-slider-left.svg");
  left: -20px;

  &:active {
    background: linear-gradient(to right, var(--base-primary, #7859cf), transparent) no-repeat 0 0 / 100% 200%, url("../../icons/arrow-slider-left.svg") no-repeat;
    background-size: auto, 21px 21px;
    background-position: center;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    left: -30px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    left: -39px;
  }
}

.slider__next {
  background-image: url("../../icons/arrow-slider-right.svg");
  right: -20px;

  &:active {
    background: linear-gradient(to right, transparent, var(--base-primary, #7859cf)) no-repeat 0 0 / 100% 200%, url("../../icons/arrow-slider-right.svg") no-repeat;
    background-size: auto, 21px 21px;
    background-position: center;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    right: -30px;
    background-position: center;

    &:active {
      background-position: 0 0, center;
    }
  }

  @media (min-width: $desktop-width) {
    right: -39px;
  }
}

.slider__prev[aria-disabled="true"],
.slider__next[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}
