.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px 51px;
  margin: auto;
  overflow: hidden;

   @media (min-width: $tablet-width) {
    display: grid;
    width: auto;
    background: linear-gradient(to bottom, var(--slider-background, #f3ebe1 ) 641px, #ffffff 30%);
    padding-block-end: 0;
  }
}

.slider__wrapper {
  position: relative;
  width: 100%;
  min-height: var(--height-slider-mobile);

  @media (min-width: $tablet-width) {
    min-height: 828px;
  }
}

.slider__controls {
  display: none;
}

.slider__prev,
.slider__next {
  position: absolute;
  border: none;
  width: 20px;
  min-height: calc(var(--height-slider-mobile) + var(--padding-slider-top) + var(--padding-slider-bottom));
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position-y: 317px;
  margin-block-start: var(--balance-height-top);
  margin-block-end: var(--balance-height-bottom);
  // outline: 1px solid red;

  @media (min-width: $tablet-width) {
    width: 80px;
    min-height: calc(var(--height-slider-mobile) + 54px);
    background-position-x: center;
    background-position-y: 292px;
    z-index: 1;
  }
}

.slider__prev{
  background-image: url("../../icons/arrow-slider-left.svg");
  left: -20px;

   &:active {
    background: linear-gradient(to right,var(--base-primary, #7859cf), transparent) no-repeat 0 0 / 100% 200%, url("../../icons/arrow-slider-left.svg") no-repeat;
    background-size: auto,
    21px 21px;
    background-position: 0 0, center 311px;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    left: -30px;
    background-position: center 311px;
  }
}

.slider__next {
  background-image: url("../../icons/arrow-slider-right.svg");
  right: -20px;

  &:active {
    background: linear-gradient(to right, transparent,var(--base-primary, #7859cf)) no-repeat 0 0 / 100% 200%, url("../../icons/arrow-slider-right.svg") no-repeat;
    background-size: auto,
    21px 21px;
    background-position: 0 0, center 317px;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    right: -30px;
    background-position: center 311px;

    &:active {
      background-position: 0 0, center 311px;
    }
  }
}

.slider__prev[aria-disabled="true"],
.slider__next[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}


