.social {
  width: 280px;
  margin: auto;
  position: relative;
  padding-block: 15px 27px;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 100vh;
    height: 1px;
    background-color: var(--secondary-gray, #f0ebff);
    box-shadow: 100vh 0 var(--secondary-gray, #f0ebff);
    position: absolute;
    right: 0;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-block: 29px 17px;
    column-gap: 380px;
    grid-row: 1;
    grid-column: 1/4;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    row-gap: 45px;
    margin: 0;
    grid-row: 1/4;
    grid-column: 1;
    padding-block-start: 30px;
  }
}

.social__logo {
  padding-inline-end: 18px;
  padding-block-start: 2px;

  @media (min-width: $desktop-width) {
    @include link-reset;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-inline-start: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    padding-block-start: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-inline-start: 10px;
  }
}

.social__link-item {
  position: relative;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 4px;

  &:hover {
    background-color: var(--base-primary-active, #f0ebff);
  }

  &:focus-visible {
    background-color: var(--base-primary-active, #f0ebff);
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    mask-repeat: no-repeat;
    mask-size: 20px;
    background-color: var(--base-gray, #bdbdbd);
    background-position: 50% 50%;
  }

  &:hover::before {
    background-color: var(--base-primary, #7859cf);
  }
}

.social__vk::before {
  mask-image: url("../../icons/vk-icon.svg");
}

.social__pinterest::before {
  mask-image: url("../../icons/pinterest-icon.svg");
}

.social__ok::before {
  mask-image: url("../../icons/ok-icon.svg");
}
